/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3 {
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400px;
}

h4,
h5,
h6,
p,
blockquote,
pre,
a {
	text-decoration: none;
	color: inherit;
}

abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption {
	font-weight: 400px;
	font-size: 13px;
	margin-top: 5px;
}

footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption {}

figure {
	margin: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
}

footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 10px;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	color: #000000;
}

li a:hover {
	color: #B1663C;
}

nav li img {
	height: 22px;
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 120px;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
	margin-right: 55px;
	margin-top: 0px;
}


#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.portfolio {
	padding-left: 50px;
	padding-right: 50px;
}

#portfolio h2 {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}

/* Ajout du style des boutons filtres */
.filters {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-bottom: 40px;
}

.filters button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	text-align: center;
	border-radius: 60px;
	border: 1px solid #1D6154;
	padding: 10px 30px;
	cursor: pointer;
}

.filters button.selected {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

.forgot-password {
	color: #3D3D3D;
	text-decoration-line: underline;
	text-align: center;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.editionMode {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 100vw;
	font-size: 16px;
}

.editionMode i {
	height: 15px;
	margin-right: 10px;
}

.modifyBtn {
	border: none;
	background: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 84px;
	font-family: 'Work Sans';
	font-size: 16px;
	color: #000000;
}

.modifyBtn i {
	margin-left: 25px;
	margin-right: 8px;
	height: 15px;
}

/**** Modal style ****/
.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.30);
	animation: fadeIn .3s both;
}

.modal-wrapper {
	overflow: auto;
	text-align: center;
	width: 630px;
	height: 670px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	border-radius: 10px;
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: slideFromTop .5s both;
}

.modal[aria-hidden="true"] {
	animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
	animation-name: slideToBottom;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideFromTop {
	from {
		transform: translateY(-50px);
	}

	to {
		transform: translateY(0px);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slideToBottom {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(50px);
	}
}

.modal-wrapper h3 {
	margin-top: 60px;
}

.js-modal-close {
	border: none;
	background: none;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 15px;
	right: 20px;
	cursor: pointer;
}

.js-modal-close i {
	font-size: 20px;
}


.photo-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 20px 100px 50px 100px;
}

.photo-card {
	position: relative;
	width: 76px;
	height: 102px;
	margin-bottom: 15px;
}

.photo-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.photo-card .delete-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 13px;
	background-color: #000;
	margin-top: 6px;
}

.photo-card .delete-icon i {
	margin: 0px;
}

.modal-line {
	width: 420px;
	height: 1px;
	background-color: #B3B3B3;
	margin: 0 auto 1em auto;
	margin-top: 20px;
	margin-bottom: 40px;
}

.modalBtn {
	font-family: 'Syne';
	font-size: 14px;
	width: 237px;
	height: 36px;
	color: #FFFFFF;
	background-color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.js-modal-back {
	display: flex;
	position: absolute;
	top: 15px;
	left: 20px;
	border: none;
	background: none;
	cursor: pointer;
}

.js-modal-back i {
	font-size: 21px;
}

.cardInputPhoto {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 420px;
	height: 169px;
	background: #E8F1F7;
	border-radius: 3px;
	margin-bottom: 30px;
}

.cardInputPhoto img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin-top: 0px;
}

.cardInputPhoto i {
	font-size: 68px;
	color: #CBD6DC;
	margin-top: 20px;
}

.cardInputPhoto p {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 10px;
	color: #444444;
}

.addPhotoBtn {
	font-size: 14px;
	width: 173px;
	height: 36px;
	border-radius: 50px;
	color: #306685;
	background-color: #CBD6DC;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.formContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	max-width: 420px;
}

.formInput {
	width: 100%;
	height: 51px;
	border: none;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
	margin-top: 10px;
	margin-bottom: 20px;
}

.formContent .validateBtn {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	width: 237px;
	height: 36px;
	color: #FFFFFF;
	background-color: #A7A7A7;
	border: 1px solid #A7A7A7;
	border-radius: 60px;
	cursor: pointer;
	align-self: center;
}

.error-message {
	align-self: center;
	margin-top: 30px;
	color: red;
}